    <!-- Footer Starts -->
    <footer class="admin-footer">
            <div class="container-fluid">
                    <center>
                    <span class="pmd-card-subtitle-text">Cxspace &copy; 2016. All Rights Reserved.</span>
                    <br/>

                      <a href="" class="pmd-card-subtitle-text">相关链接一&nbsp; &nbsp;|</a>

                        <a href="" class="pmd-card-subtitle-text">相关链接一 &nbsp;&nbsp;&nbsp;|</a>

                      <a href="" class="pmd-card-subtitle-text">相关链接一&nbsp;&nbsp;&nbsp;|</a>

                        <a href="" class="pmd-card-subtitle-text">相关链接一&nbsp;&nbsp;&nbsp;|</a>

                          <a href="" class="pmd-card-subtitle-text">相关链接一&nbsp;&nbsp;|</a>

                        <a href="" class="pmd-card-subtitle-text">相关链接一&nbsp;&nbsp;</a>

               <h3 class="pmd-card-subtitle-text">赣ICP备16010316号-1</h3>
               
    </center>           
    </div>
    </footer>
    <!-- Footer Ends -->