    <div class="container">

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>



          <div class="text-center mb-4">
            <img class="mb-4" src="images/logo.svg" alt="" width="272" height="102">
          </div>

        <br/>
        <br/>
        <br/>
        <br/>


            <form class="form-signin">


              <div class="row">
                <div class="col-sm-5">
                  <div class="form-label-group">
                    <!-- Large Input -->
                        <div class="form-group pmd-textfield form-group-lg">
                        <input type="text"  id="userName" class="form-control input-group-lg"  placeholder="用户名" required autofocus>
                        </div>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-label-group">
                        <div class="form-group pmd-textfield form-group-lg">
                        <input type="password" id="password" class="form-control input-group-lg"  placeholder="密码" required>
                        </div>
                  </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-lg btn-default" type="submit">点我登录</button>
                </div>
              </div>

            </form>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

    </div>
